.main-div {
  background-color: #2d5354;
  height: 100vh;
}

.logo {
  width: 100px;
  height: 100px;
  object-fit: cover;;
}

.center-div {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.caption-div {
  color: rgba(39,136,142,255);
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.input-field {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: solid rgba(39,136,142,255);
  padding-left: 10px;
  margin-top: 20px;
}

.button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: solid #fff;
  background-color: #2d5354;
  color: #fff;
  font-weight: 600;
  margin: 9px;
  padding: 20px;
}

.button:hover {
  background-color: #fff;
  color: #2d5354;
  cursor: grab;
}

.todo-list {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.todo-item {
  width: 320px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: rgba(39,136,142,255);
  margin: 5px;
  justify-content: space-between;
}

.todo-item:hover{
  background-color: #2d5354;
}

.todo-text {
  color: #2d5354;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin: 10px;
}

.list-div {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin: 10px;
}

.delete-icon {
  color: #e96e71;
  align-items: right;
  cursor: grab;
  margin: 5px;
}

.update-icon {
  color: #abced2;
  align-items: right;
  cursor: grab;
  margin: 5px;
}

.dark-mode{
  display: flex;
  justify-content: end;
}